/*
* flex布局通用样式
* author: hackftz
* date: 2020-11-09
*/

/** flex box属性 **/

/* 居中 */
.fx {
	display: flex;
}

/* flex-direction */
.fx-dir-row {
	flex-direction: row;
}

.fx-dir-row-rev {
	flex-direction: row-reverse;
}

.fx-dir-col {
	flex-direction: column;
}

.fx-dir-col-rev {
	flex-direction: column-reverse;
}

/* flex-wrap */
.fx-fw-no {
	flex-wrap: nowrap;
}

.fx-fw-no-w {
	flex-wrap: nowrap;
}

.fx-fw-w {
	flex-wrap: wrap;
}

.fx-fw-w-rev {
	flex-wrap: wrap-reverse;
}

/* justify-content */
.fx-jc-fs {
	justify-content: flex-start;
}

.fx-jc-fe {
	justify-content: flex-end;
}

.fx-jc-c {
	justify-content: center;
}

.fx-jc-sb {
	justify-content: space-between;
}

.fx-jc-sa {
	justify-content: space-around;
}

/* align-items */
.fx-ai-fs {
	align-items: flex-start;
}

.fx-ai-fe {
	align-items: flex-end;
}

.fx-ai-c {
	align-items: center;
}

.fx-ai-b {
	align-items: baseline;
}

.fx-ai-s {
	align-items: stretch;
}

/* align-content */
.fx-ac-fs {
	align-content: flex-start;
}

.fx-ac-fe {
	align-content: flex-end;
}

.fx-ac-c {
	align-content: center;
}

.fx-ac-c {
	align-content: space-between;
}

.fx-ac-sa {
	align-content: space-around;
}

.fx-ac-s {
	align-content: stretch;
}

/** flex item属性 **/

/* flex-grow */
.fx-fg-1 {
	flex-grow: 1;
}

.fx-fg-2 {
	flex-grow: 2;
}

.fx-fg-4 {
	flex-grow: 4;
}

.fx-fg-3 {
	flex-grow: 4;
}

/* flex-shrink */
.fx-fs-1 {
	flex-shrink: 1;
}

.fx-fs-0 {
	flex-shrink: 0;
}

/* flex-basis */
.fx-fb-a {
	flex-basis: auto;
}

/* align-self */
.fx-as-a {
	align-self: auto;
}

.fx-as-fs {
	align-self: flex-start ;
}

.fx-as-fe {
	align-self: flex-end;
}

.fx-as-c {
	align-self: center;
}

.fx-as-b {
	align-self: baseline;
}

.fx-as-s {
	align-self: stretch;
}

