/*
* margin padding 通用样式
* author: hackftz
* date: 2020-11-09
*/

/* 
* margin 
*/

/* mg-8 */
.mg-8 {
	margin: 8px;
}

.mg-t-8 {
	margin-top: 8px;
}

.mg-b-8 {
	margin-bottom: 8px;
}

.mg-l-8 {
	margin-left: 8px;
}

.mg-r-8 {
	margin-right: 8px;
}

/* mg-12 */
.mg-10 {
	margin: 10px;
}

.mg-t-10 {
	margin-top: 10px;
}

.mg-b-10 {
	margin-bottom: 10px;
}

.mg-l-10 {
	margin-left: 10px;
}

.mg-r-10 {
	margin-right: 10px;
}

/* mg-12 */
.mg-12 {
	margin: 12px;
}

.mg-t-12 {
	margin-top: 12px;
}

.mg-b-12 {
	margin-bottom: 12px;
}

.mg-l-12 {
	margin-left: 12px;
}

.mg-r-12 {
	margin-right: 12px;
}

/* mg-24 */
.mg-24 {
	margin: 24px;
}

.mg-t-24 {
	margin-top: 24px;
}

.mg-b-24 {
	margin-bottom: 24px;
}

.mg-l-24 {
	margin-left: 24px;
}

.mg-r-24 {
	margin-right: 24px;
}

/*
* padding
*/

.pd-8 {
	padding: 8px;
}

.pd-t-8 {
	padding-top: 8px;
}

.pd-b-8 {
	padding-bottom: 8px;
}

.pd-l-8 {
	padding-left: 8px;
}

.pd-r-8 {
	padding-right: 8px;
}

/* pd-12 */
.pd-10 {
	padding: 10px;
}

.pd-t-10 {
	padding-top: 10px;
}

.pd-b-10 {
	padding-bottom: 10px;
}

.pd-l-10 {
	padding-left: 10px;
}

.pd-r-10 {
	padding-right: 10px;
}

/* pd-12 */
.pd-12 {
	padding: 12px;
}

.pd-t-12 {
	padding-top: 12px;
}

.pd-b-12 {
	padding-bottom: 12px;
}

.pd-l-12 {
	padding-left: 12px;
}

.pd-r-12 {
	padding-right: 12px;
}

/* pd-24 */
.pd-24 {
	padding: 24px;
}

.pd-t-24 {
	padding-top: 24px;
}

.pd-b-24 {
	padding-bottom: 24px;
}

.pd-l-24 {
	padding-left: 24px;
}

.pd-r-24 {
	padding-right: 24px;
}
